/* @import url('https://fonts.googleapis.com/css?family=Montserrat|Montserrat+Alternates|Poppins&display=swap'); */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* 		font-family: 'Montserrat Alternates', sans-serif; */
  z-index: 999;
}

/* Movil */
@media screen and (max-width: 850px) {
  /* Ocultar el encabezado de PC y el menú lateral */
  .header, .container-menu, .check {
    display: none;
  }

  /* Estilos para el encabezado móvil */
  .header-mobile {
    width: 100%;
    height: 80px;
    position: fixed;
    bottom: 0; /* Fijar en la parte inferior */
    left: 0;
    background-color: var(--item-background-semitransparent);
    backdrop-filter: blur(4px);
    z-index: 9999;
    display: block;
  }

  .header-mobile .containerM {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
  }

  .containerM i {
    font-size: 22px;
  }

  .header-mobile a {
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    width: 25%; /* Cambiado a 25% para ocupar el ancho de la página sin desbordarse */
    text-align: center;
    transition: color 0.3s ease, transform 0.3s ease;
  }

  .header-mobile a:hover {
    transform: scale(1.1);
  }
}





/* PC */
@media screen and (min-width: 768px) {

  .header-mobile {
    display: none;
  }

  .header {
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0;
    left: 0;
  }

  .container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
  }

  .container .btn-menu {
    float: left;
    line-height: 100px;
    margin-left: -40px;
  }

  .container .btn-menu label {
    color: #fff;
    font-size: 25px;
    cursor: pointer;
  }

  .container .menu {
    float: right;
    line-height: 100px;
  }

  .container .menu a {
    display: inline-block;
    padding: 15px;
    line-height: normal;
    text-decoration: none;
    color: #fff;
    transition: all 0.3s ease;
    border-bottom: 2px solid transparent;
    font-size: 15px;
    margin-right: 5px;
  }

  .container .menu a:hover {
    border-bottom: 2px solid #c7c7c7;
    padding-bottom: 5px;
  }

  #btn-menu {
    display: none;
  }

  .container-menu {
    display: flex;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: all 500ms ease;
    opacity: 0;
    visibility: hidden;
  }
  .container-menu .cont-menu{
  width: 15%;
  background-color: var(--item-background-semitransparent);
  backdrop-filter: blur(4px);
  }
  
  .container-menu #closeClick{
    margin-left: 15%;
    min-width: 85%;
    }

  #btn-menu:checked~.container-menu {
    opacity: 1;
    visibility: visible;
  }

  .cont-menu {
    height: 100%;
    width: 100%;
    position: relative;
    transition: all 500ms ease;
    transform: translateX(-100%);
    position: fixed;
  }

  #btn-menu:checked~.container-menu .cont-menu {
    transform: translateX(0%);
  }
  
  #closeClick:checked~.container-menu .cont-menu {
    transform: translateX(0%);
  }

  #closeClick:checked~.container-menu {
    opacity: 1;
    visibility: visible;
  }

  .cont-menu nav {
    transform: translateY(15%);
  }

  .cont-menu nav a {
    display: block;
    padding: 20px;
    color: #ffffff; font-size: 1.5vw;
    border-left: 5px solid transparent;
    transition: all 400ms ease;
  }

  .cont-menu nav a:hover {
    border-left: 5px solid #c7c7c7;
    background: #ffffff31;
  }

  .cont-menu label {
    position: absolute;
    right: 5px;
    top: 10px;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
  }
}
