<section id="login" class="login-container">
  <form class="login-form" (ngSubmit)="onSubmit()">
    <div>
      <label for="nombre">Nombre: <span class="asterisco">*</span></label>
      <input type="text" id="nombre" [(ngModel)]="usuario.nombre" name="nombre" required>
    </div>
 
    <div>
      <label for="apellidos">Apellidos: </label>
      <input type="text" id="apellidos" [(ngModel)]="usuario.apellido" name="apellidos" required>
    </div>
 
    <div>
      <label for="email">Correo electrónico: <span class="asterisco">*</span></label>
      <input type="email" id="email" [(ngModel)]="usuario.email" name="email" placeholder="ejemplo@mail.com" required>
    </div>
 
    <div>
      <label for="nombre_usuario">Nombre de usuario: <span class="asterisco">*</span></label>
      <input type="text" id="nombre_usuario" [(ngModel)]="usuario.nombre_usuario" name="nombre_usuario" required>
    </div>
 
    <div>
      <label for="contrasena">Contraseña: <span class="asterisco">*</span></label>
      <input type="password" id="contrasena" [(ngModel)]="usuario.contrasena" name="contrasena" required>
    </div>
 
    <div>
      <label for="fecha_nacimiento">Fecha de nacimiento: <span class="asterisco">*</span></label>
      <input class="fecha" type="date" id="fecha_nacimiento" [(ngModel)]="usuario.fecha_nacimiento" name="fecha_nacimiento" required>
    </div>
    <!-- Botón de envío -->
    <div class="submit-button-container">
      <button type="submit" class="submit-button">Enviar</button>
    </div>
 
    <div class="mensaje">
      * Los campos marcados con un " * " son obligatorios
    </div>
 
    <div>
      <a class="no-login" routerLink="../login">¿Ya tienes cuenta? ¡Inicia sesión!</a>
      <a class="no-login" routerLink="../dashboard">Continuar sin registrarse →</a>
    </div>
  </form>
</section>

