<section id="login" class="login-container">
  <form (ngSubmit)="login()" class="login-form">

    <div>
      <label for="usuario">Nombre de usuario: </label>
      <input type="text" [(ngModel)]="username" required>
    </div>

    <div>
      <label for="contrasena">Contraseña: </label>
      <input type="password" name="password" [(ngModel)]="password" required>
    </div>

    <div class="submit-button-container">
      <input class="submit-button" type="submit" value="Enviar">
    </div>

    <a class="no-login" routerLink="../dashboard"> Continuar sin registrarse → </a>
    <a class="no-login" routerLink="../register"> ¿Aún no tienes cuenta? ¡Regístrate! </a>
  </form>
</section>
