<div class="container top-profile">

  <div class="profile-section profile-image-section col-3">
    <div class="profile-image-container">
      <img class="profile-image col-9" src="assets/img/foto-perfil.jpg" alt="Profile image">
    </div>
  </div>

  <div class="profile-section username-section col-9">

    <h2>Nombre</h2> <i class="bi-person-check"></i>

    <!-- todo: conecta el servicio de auth -->
  </div>

</div>

<div class="container profile-posts">

  <div class="col-12 posts-header">
    <h2>Eventos publicados</h2>
  </div>
  <div class="col-12 posts-container">

    <div class="col-4 post-container">
      <img class="col-12" src="../../../assets/img/foto-perfil.jpg" alt="">
    </div>
    <div class="col-4 post-container">
      <img class="col-12" src="../../../assets/img/foto-perfil.jpg" alt="">
    </div>
    <div class="col-4 post-container">
      <img class="col-12" src="../../../assets/img/foto-perfil.jpg" alt="">
    </div>

  </div>

</div>