.profile-section { display: flex; align-items: center; }

.top-profile {
    display: flex; 
    margin: 5vh auto;
    padding: 0; padding-top: 20vh;
}

.profile-image-container{
    display: flex; justify-content: center;
}


