.gallery-container {
  display: flex;
  overflow-x: hidden;
  width: 100%;
}
 
a {
  color: white;
  padding: 0 30%;
}
 
.gallery {
  display: flex;
  padding: 1vh 0;
  background-color: var(--item-background-semitransparent);
}
 
.image {
  flex: 0 0 auto;
  margin-right: 10px;
  filter: drop-shadow(10px 10px 5px var(--subitem-background));
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 200px;
}
 
.image img {
  width: auto;
  height: 350px;
  object-fit: cover;
}
 
.image:hover {
  overflow: visible;
  min-width: fit-content;
}
 
.image:hover img {
  overflow: visible;
  max-width: 100%;
}
 
.image button {
  z-index: 999;
  background-color: var(--subitem-background);
  cursor: pointer;
  border: 2px rgba(255, 255, 255, 0.315) solid;
}
 
.image button:hover {
  background-color: var(--boton-hover);
}