.gallery-container {
  margin-bottom: 5%;
  display: flex;
  overflow-x: hidden;
  width: 100%;
}
 
a {
  color: white;
  padding: 0 30%;
}
 
.gallery {
  display: flex;
  padding: 1vh 0;
  background-color: var(--item-background-semitransparent);
}
 
.image {
  flex: 0 0 auto;
  margin-right: 10px;
  filter: drop-shadow(10px 10px 5px var(--subitem-background));
  display: flex;
  flex-direction: column;
  overflow: hidden; /* Initially hidden */
  width: 250px;
  transition: width 0.4s ease-in-out; /* Transition for width */
}

.image img {
  width: auto;
  height: 450px;
  object-fit: cover;
}

.image:hover {
  width: 350px; /* Adjust to desired width on hover */
}

.image:hover img {
  max-width: 100%;
  transition: width 0.4s ease-in-out; /* Transition for width of the image */
}

 
.image button {
  z-index: 999;
  background-color: var(--subitem-background);
  cursor: pointer;
  border: 2px rgba(255, 255, 255, 0.315) solid;
}
 
.image button:hover {
  background-color: var(--boton-hover);
}